github {
    token=none
    id = "github-id"
}

akka {
    loglevel = DEBUG
    # log-config-on-start = on
}

mongo {
    test {
        host = "localhost"
        port = 29017
        db = "ohmygithub-dev"
    }

    local {
        host = "localhost"
        port = 27017
        db = "ohmygithub-dev"
    }

    production {
        host = "localhost"
        port = 27017
        db = "ohmygithub-dev"
    }
}
