akka {
    loglevel = DEBUG
    log-config-on-start = on
    akka.actor.debug.receive=on
}

env {
    TEST {
        mongoURL = "localhost:27017"
        mongoSchema = "omg-datacow-test"
    }

    LOCAL {
        mongoURL = "localhost:27017"
        mongoSchema = "omg-datacow-local"
    }

    PRODUCTION {
        mongoURL = ""
        mongoSchema = ""
    }
}

